body{
    margin: 0;
    padding: 0;
  
     background-image: url('../imgs/01.jpg');
    background-size: cover;
     background-attachment: fixed;
    font-family: 'Arial';
}
.login-box{
    width: 520px;
    height: 520px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
    
    box-shadow: 10px 10px 40px 20px black;
}
.avatar{
    z-index:1;
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -140px;
    left: calc(50% - 105px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color: #0093ff;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 500%;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    animation: animate 8s linear infinite;
    
    cursor: pointer;
    color: #000;
}
a{
    margin-left: 14%;
   border-radius: 20px;
    padding: 10px;
   padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    
    text-decoration: none;
    font-family: 'Arial'; 
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 500%;
    z-index: 1;
}
a:hover{
    animation: animate 8s linear infinite;
}
h{
    margin-left: 35%;
    padding-top: 5px;
}
h:hover{
    cursor: pointer;
    color: rgba(248, 10, 10, 0.81);
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 250%;
    }
}
.mds{
    margin-left: 4%;
}


@media screen and (max-width: 576px) {
    body{
    margin: 0;
    padding: 0;
  
     background-image: url('../imgs/03.jpg');
    background-size: cover;
     background-attachment: fixed;
    font-family: 'Arial';
}
    .login-box{
    margin-top: 20%;
    width: 100%;
    height: 580px;
   background: rgba(0, 0, 0, 0.75);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: none;
     
         
}
     h{
       display: block;
        margin: 0 auto;
         height: 34px;
         padding-top: 6px;
         text-align: center;
        border-radius: 20px;
         background: rgba(28, 221, 184, 0.68);
        color: white;
        font-size: 18px;
    }
    a{
        display: block;
        margin: 0 auto;
       
      
    }
    .avatar{
        margin-top: 1%;
    }

 
    
    
}
@media only screen and (device-width: 768px) {
      body{
    margin: 0;
    padding: 0;
     background-image: url('../imgs/02.jpg');
    background-size: cover;
     background-attachment: fixed;
    font-family: 'Arial';
}
    .login-box{
        
        width: 100%;
        height: 600px;
        border: none;
    }
    .login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 80px;
    color: #fff;
    font-size: 16px;
}
    .login-box input[type="submit"]{
        width: 250px;
    }
    a{
        margin-left: 20%;
    }
    .mds{
        margin-left: 3%;
    }
    h{
       
        padding: 15px;
        border-radius: 20px;
         background: rgba(28, 221, 184, 0.68);
        color: white;
        font-size: 18px;
    }

}
